<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.11/handlebars.min.js" integrity="sha256-+JMHsXRyeTsws/tzbIh5YHQxRdKCuNjmvNcTFtY6DLc=" crossorigin="anonymous"></script>
{# code mirror #}
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.js" integrity="sha256-DwOSyzubDSUBuTD5ZphKKqQvSiApzpViHgvFAIeZjKE=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/javascript/javascript.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/mode/xml/xml.min.js" integrity="sha256-uXK7omU6wB2VTOD8E64m+zfoMuZyAre9IwiH3S62TbQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.32.0/codemirror.min.css" integrity="sha256-ocsH57eUY9pDJgPCOUIkWm60KNyVV8pexKFnGgXCyGs=" crossorigin="anonymous" />

<script src="{{static('app/template_content_renderer.js')}}"></script>
